@import url("https://fonts.googleapis.com/css?family=Lobster");
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: "Lobster" , 'Segoe UI' , Tahoma;
}
:root{
    --background-color : #efffef;
}
.container{
    display: flex;
    background-color: #ee9;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    gap: 25px;
    /* padding: 1.5rem; */
}
.container .title{
    margin: 30px;
}
.input{
    color: #444;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.matrix{
    width: 80%;
    display: flex;
    justify-content: center;
}
.matrixA{
    width: 38%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}
.matrixb{
    width: 38%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}
.input input{
    width: 10rem;
    height: 27px;
    padding: 5px;
    margin-left: 5px;
    border-radius: 7px;
    border: 1px solid rgb(34, 129, 184);
    outline: none;
    font-size: 15px;
}
.input input:focus{
    box-shadow: 0 0 10px rgb(34, 129, 184);
}
#btn{
    width: 100px; height: 50px;
    border-radius: 7px;
    box-shadow: 0 0 15px #777;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.15s linear;
    cursor: pointer;
}
#btn:hover{
    background-color: #efffef;
    box-shadow: 0 0 7px #777;
}
.result{
    margin-top: 3rem;
    width: 50%;
    display: flex;
    flex-direction: column
}
.result .res{
    margin-top: 15px;
    justify-self: center;
}